{{ include('admin/navbar.html.twig') }}


<div class="container">
    <h3>VIEW ITEM</h3>




    <div class="list-group">
        <a href="#" class="list-group-item active">Item</a>

            {% for item in itemView %}
        <p class="list-group-item">{{ item.placedby }}</p>
        <p class="list-group-item">{{ item.details }}</p>
        <p class="list-group-item">{{ item.location }}</p>
        <p class="list-group-item">{{ item.topay }}</p>
            {% endfor %}
        <p class="list-group-item"><a href="{{ absolute_url(asset('')) }}post" class="btn btn-success btn-sm">Back</a></p>
    </div>

</div>
